.meeting(ng-class="formSubmitted ? 'form-submitted' : ''")
  .row
    .col-lg-12.details
      h2 The details
      form.col-lg-8
        .form-inline.row
          .form-group.col-md-6.first
            input#what.form-control(ng-model="meeting.details.what" placeholder="What" analytics-on="focusout")
          .form-group.col-md-4
            input#location.form-control(ng-model="meeting.details.location" placeholder="Where" analytics-on="focusout")
          .form-group.col-md-2
            select#duration.form-control(ng-model="meeting.details.duration" required ng-change="setMeetingLength(meeting.details.duration)" analytics-on="change")
              option(value="" disabled selected hidden) How long
              option(value="15") 15 minutes
              option(value="30") 30 minutes
              option(value="60") 60 minutes
  .row
    hr
    .col-lg-12.attendees
      h2 Who's coming
      form.form-inline
        .col-lg-7.attendee-list(ng-class="!meeting.attendees.length && formSubmitted ? 'attendee-list--invalid' : ''" ng-if="!meeting.attendees.length")
          span Add emails below and we'll update the calendar below to reflect everyone's schedule.
        .row
        .row(style="padding-top:20px")
          .form-group.col-lg-5.col-md-8.col-xs-10
            input#email.form-control(ng-model="newEmail" placeholder="Email" type="email")
          .form-group.col-xs-2
            button.icon.add-attendee(ng-click="addAttendee()" type="submit" analytics-on="click" analytics-event="Add Attendee")
              i.icon.icon-plus.icon--primary.success

        .col-md-7.attendee-list(ng-if="meeting.attendees.length")
          .attendee-list-item(ng-repeat="attendee in meeting.attendees")
            .attendee-list__attendee.attendee-list__attendee--registered.clearfix(ng-if="attendee.isTandemUser")
              span.name {{attendee.name}}
              span.email {{attendee.email}}
              button.icon(ng-click="deleteAttendee($index)" analytics-on="click" analytics-event="Remove Attendee")
                i.icon.icon-times-circle.warn
            .attendee-list__attendee.attendee-list__attendee--unregistered.cleafix(ng-if="!attendee.isTandemUser")
              i(title="").icon.icon-exclamation-triangle
              span.name {{attendee.email}}
              span is not in Tandem.&nbsp;
                a(href="mailto:{{attendee.email}}?subject=Join Tandem&body=https://beta.betandem.com/" analytics-on="click" analytics-event="Invite someone").invite Invite?
              button.icon(ng-click="deleteAttendee($index)")
                i.icon.icon-times-circle.warn
  .row
    hr
    .col-lg-12.when
      h2 When is it
      .instructions-box.col-lg-10(ng-class="meeting.timeSelections.length == 0 ? 'instructions-box--invalid' : ''")
        div: span Click a block of time below and choose from the list of times to select the best time to meet.
        div(ng-if="!allAttendeesRegistered()").instruction--warning
          i.icon.icon-exclamation-triangle
          span Not all attendees are Tandem users. This calendar doesn't reflect their availability.
      .row
        .calendar-prev.col-xs-6
          a(class="btn btn-primary" ng-if="has_prev" ng-click="getCalendar('prev', prev)") Previous week
        .calendar-next.col-xs-6(style="display: block")
          a(style="float:right;" class="btn btn-primary" ng-if="has_next" ng-click="getCalendar('next', next)") Next week
      .row
        hr
        .scroller
          .calendar.col-lg-12
            .hidden#current-selection
            .day(id="{{day.day_code}}" ng-repeat="day in meeting.schedule")
              span {{day.day_code}}
              .times
                .morning(selectable data="meeting.schedule[$index]['morning']" callback="selectTime" id="{{day.day_code}}.morning" class="{{day.morning.length ? 'available' : 'unavailable'}}" analytics-on="click" analytics-event="Select Time")
                  i.icon.icon-4x.icon-sunrise
                .afternoon(selectable data="meeting.schedule[$index]['afternoon']" callback="selectTime" id="{{day.day_code}}.afternoon" class="{{day.afternoon.length ? 'available' : 'unavailable'}}" analytics-on="click" analytics-event="Select Time")
                  i.icon.icon-4x.icon-sun
                .evening(selectable data="meeting.schedule[$index]['evening']" callback="selectTime" id="{{day.day_code}}.evening" class="{{day.evening.length ? 'available' : 'unavailable'}}" analytics-on="click" analytics-event="Select Time")
                  i.icon.icon-4x.icon-moon
            .chunks
              div
                span Morning
                span {{meeting.calendar_hours.morning_start}}-{{meeting.calendar_hours.morning_end}}
              div
                span Afternoon
                span {{meeting.calendar_hours.afternoon_start}}-{{meeting.calendar_hours.afternoon_end}}
              div
                span Evening
                span {{meeting.calendar_hours.evening_start}}-{{meeting.calendar_hours.evening_end}}
  .row
    hr
    #submit.col-lg-2.col-lg-offset-10
      button.btn.btn-lg.btn-primary(ng-click="submitMeeting()" analytics-on="click" analytics-event="Schedule Meeting") Schedule it
